[data-drawer-backdrop] {
  display: none !important;
}
[drawer-backdrop] {
  background-color: rgb(24 24 27 / 0.5) !important;
}

.dark [drawer-backdrop] {
  background-color: rgb(24 24 27 / 0.8) !important;
}