<div class="relative bg-white dark:bg-zinc-800 border border-zinc-200 dark:border-zinc-700 rounded-lg shadow p-6 mb-4">
    <div class="absolute top-0 left-0 w-full h-2 rounded-t-lg bg-green-500"></div>
    <div class="flex flex-col md:flex-row md:items-center justify-between">
        <div>
            <h5 class="text-xl font-bold text-zinc-900 dark:text-white mb-1">{{ title }}</h5>
            <p class="text-zinc-400 text-sm mb-2">Completed {{ completedAgo }}</p>
            <p class="text-zinc-700 dark:text-zinc-400 text-sm">
                Questions: <span class="font-semibold text-gray-200 dark:text-gray-400">{{ questionsCount }}</span>
            </p>
        </div>
        <div class="flex flex-col items-end gap-2 mt-4 md:mt-0">
            <span
                class="bg-zinc-500 hover:bg-zinc-600 text-white text-xs font-semibold px-3 py-1 rounded-full mb-2">
                Score: {{ scoreText }}
            </span>
            <a [routerLink]="['/results', `${title}`]">
            <button
                class="bg-zinc-500 cursor-pointer hover:bg-zinc-600 text-white text-sm font-medium px-4 py-2 rounded-lg transition">
                View Details
            </button>
            </a>
        </div>
    </div>
</div>