@if(showAlert){
<div class="alert" [class]="{
  'alert-error': alertType === 'error',
  'alert-success': alertType === 'success'
}">
  {{ alertMessage }}
</div>
}

<app-navbar *ngIf="!focusMode" [isSidebarOpen]="togglerState" [userDetails]="user"
  (toggleState)="onToggleState($event)"  [logout]="logout.bind(this)"/>
<app-sidebar *ngIf="!focusMode" [isOpen]="togglerState" [userDetails]="user" [examLength]="stats.totalExams"
  (closeSidebar)="togglerState = false"  [logoutFunction]="logout.bind(this)" />

<main class="min-h-screen dark:bg-zinc-900">
  <div class="container mx-auto px-4 py-20">
    @if (togglerState) {
    <div class="fixed inset-0 z-30 bg-black/70" (click)="togglerState = false"></div>
    }
    <div [class.ml-64]="togglerState">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>